.new-post-input{
  border-radius: 8.494px;
  border: 0.5px solid #EAEAEA;
  background: #FFF;
  color: #6B6B6B;
  text-align: center;
  font-family: 'roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 50%;
}

.new-post-h1{
  color: $black;
  font-family: 'roboto', sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  padding: 2.2rem;
  align-items: center;
  justify-content: center;
}

.d-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.full-height{
  height: 100vh;
}
