<div class="hero-container">
  <%= image_tag "background-hero.jpeg", class: "hero-background"%>
  <%= image_tag "background-hero-mobile.jpeg", class: "hero-background-mobile"%>
  <div class="home-background-overlay"></div>
  <h1 class="hero-title">
  Soyez informé, où que vous soyez
  </h1>
  <p class="hero-subtitle">
  Suivez les actualités qui vous intérèssent et partagez votre avis avec notre communauté de passionés de la vérité.
  </p>
  <%= link_to "Découvrir nos articles", posts_path, class: "hero-primary-button" %>
</div>
